# @package trainer
_target_: lightning.pytorch.Trainer
accelerator: gpu
devices: 1
max_epochs: 10
log_every_n_steps: 50
enable_checkpointing: true
enable_progress_bar: true
deterministic: false
# optional later:
# precision: 16-mixed
